{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Task 2: Instructions
{% endblock %}

{% block content %}



 <div class="instructions well well-lg" style="padding-top:3px; padding-bottom:5px; margin-top:20px;">



    <p>While considering your answers for the first task, we ask to work on this second task,
       which is quite different from the first.
    Please read the instructions carefully.

    </p>

    <p>For this task, you will be paired with one other worker from
    the MTurk platform, who we will call your partner.
    Pairing is at random and anonymous.</p>
    <p>This means that at no point will you or your partner learn the
    other person’s identity.
    Also, you won’t be able to communicate with your partner at any time.</p>

    <p>You and your partner go hunting together.
    The plan is to catch a big animal, which will earn each of you {{Constants.stag_stag_amount}}.
    </p>
    <p>In order to catch the big animal,
    you have to lay a trap together with your partner.
    The big animal will appear eventually, but you will have to wait for some time.
    </p>
 </div>
    {% next_button %}

{% endblock %}
