{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
  Answers Task 1:

{% endblock %}

{% block content %}

Please remember the scenario in Task 1. We asked you how you would deal with an unforeseen tooth problem. Please respond to the following statements.

Do you remember the sum required for the treatment?
The sum involved was around [dropdown] [25$] [100$] [250$] [750$] [1250$] [2000$] [2500$] [3000$]$.

The decision would cause me severe financial stress.
[Agree fully] [Agree somewhat] [Neither agree nor disagree] [Disagree somewhat] [Fully disagree]

The decision would require me to touch my savings.
[Yes] [No]

The decision would require me to take out a loan.
[Yes] [No]

I would ask my friends or family for financial support.
[Yes] [No]



The study continues with xxx more questions.

{% endblock %}
