{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Priming happens somewhere here...
{% endblock %}

{% block content %}


Task 1

Imagine that you are having troubles with your teeth. Your dentist recommends a 2,500$ (150$) treatment. Unfortunately, your insurance will only cover 10% of this cost. You now need to decide the following:
(1) Pay the full amount in cash. Would this require spending your savings? How would you go about it?
(2) Take out a loan, which you can pay back in monthly instalments. A typical such loan may require monthly payments of roughly $230 ($15) a month for 12 months, which would amount to about $2800 ($180) total.
(3) Take a chance, forego the treatment, and hope that troubles with your teeth will disappear. Of course, this leaves open the possibility of conditions worsening, or even greater expenses in the long run.
How would you go about making this decision? Would it be an easy or a difficult decision for you to make?

We will ask you at a later point to provide short answers to these questions.




Please wait before proceeding to the next slide.

    {% next_button %}

{% endblock %}
