{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionnaire Announcement
{% endblock %}

{% block content %}

{%  if not stag %}
<p>You have successfully caught the small animal. Your account will be credited with {{Constants.hare_stag_amount}}.</p>

{%else%}
<p>You have successfully caught the big animal. Your account will be credited with {{Constants.stag_stag_amount}}.</p>
{%endif%}
<p>The task will continue with {{nq}} more questions, answering to which will earn you {{bonus_earnings}}.</p>
    {% next_button %}

{% endblock %}
