  <div class="row instrtable">
        <div class="col-md-7 col-md-offset-2">
            <table class="table table-hover">
                <tr>
                    <th>Choice of animal </th>
                    <td>You</td>
                    <td>Your partner</td>
                </tr>
                <tr>
                    <th>small - small</th>
                    <td>{{Constants.hare_hare_amount}}</td>
                    <td>{{Constants.hare_hare_amount}}</td>
                </tr>
                <tr>
                    <th>small - large</th>
                    <td>{{Constants.hare_stag_amount}}</td>
                    <td>{{Constants.stag_hare_amount}}</td>
                </tr>

                <tr>
                    <th>large - small</th>
                    <td>{{Constants.stag_hare_amount}}</td>
                    <td>{{Constants.hare_stag_amount}}</td>
                </tr>
                <tr>
                    <th>large - large</th>
                    <td>{{Constants.stag_stag_amount}}</td>
                    <td>{{Constants.stag_stag_amount}}</td>
                </tr>
            </table>
        </div>
    </div>
