{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

    <div class="instructions well well-lg" style="padding-top:3px; padding-bottom:5px; margin-top:20px;">

<p>You are about to participate in a study on decision-making. The instructions are simple.
    If you follow them carefully, you may earn a substantial amount of money.</p>

<p>The study starts with a short questionnaire, in which we assess whether you are eligible
    to participate in the study. The questionnaire consists of {{nq}} questions,
    and you will be {{ player.participant.session.participation_fee }} for taking it.</p>

<p>Only if we determine that you are eligible for the second part of the study, will you
    advance to the decision-making tasks. In this second part, you can earn an additional {{lb}} to {{ub}},
    depending on your answers.</p>

<p>This study is conducted by a group of researchers from New York University in the U.S.
    and Bocconi University in Italy. If you have any questions or concerns, please send an email to xxx@unibocconi.it.</p>
        </div>
    {% next_button %}

{% endblock %}
